body{
    background-color: grey;
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tip{
    height: 50vh;
    width: 50vw;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#calculate{
    color:white;
    background-color: #4caf50;
    width:120px;
}